<div>

	<div id="digren">
		<h1>Digital Renaissance</h1>
	</div>
	<h2>About the author</h2>
	<div class="row">
		<div class="span5 offset2">
			<p>Jose Miguel Cansado has lived in Asia for the last eight years working for a hi-tech multinational in their headquarters in Asia Pacific.</p>
			<p>In <em>Digital Renaissance</em> he uses his own experience in business, in Asia and in the technology industry to write a story about a dreamer, about startups and about pursuing your own beliefs. The story any entrepreneur and engineer that feels young at heart will not want to miss.</p>

			<p>This is his first fiction work as an author.
			Jose Miguel is also a digital entrepreneur and writes a blog at <a href="http://disruptionmatters.com/">DisruptionMatters.com</a></p>
			<p>Find more about Jose Miguel Cansado:</p>
			<a href="http://es.linkedin.com/in/josemiguelcansado">LinkedIn</a>
			<a href="http://twitter.com/JoseMCansado">Twitter</a>
			<a href="http://josemiguelcansado.com/">Blog</a>
			<br><br>
			<!-- Twitter button for follow -->
			<a href="https://twitter.com/JoseMCansado" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @JoseMCansado</a>
    		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    		<!-- End of Twitter button -->
		</div>
		<div class="span3">
			<%= image_tag("jmc250px.jpg", :alt => "Jose Miguel Cansado", :class => "img-rounded") %>
		</div>
	</div>

</div>

