<%= render 'layouts/dtitle' %>
<h2>Blog</h2>

<div class="hero-unit">
	<h4>Why a Digital Renaissance manifesto?</h4>
	<blockquote>Manifestos are a powerful catalyst. By publicly stating your views and intentions, you create a pact for taking action. (Movements from the American Revolution [...] to the Firefox web browser were all launched by manifestos.) If you want to change the world, even in just a small way, creating a personal or business manifesto is a great place to start.<br>
	<small><a href="http://99u.com/articles/7005/5-Manifestos-for-Art-Life-Business">99u.com</a></small>
	</blockquote>


<p>The Internet, computers and mobile have changed the world. Understanding the implications of the digital revolution is important for policy makers, for business and for individuals to make the right choices in life.</p>

<p>We live in a better yet more complex world than ever. Understanding where we go is crucial just to guide your own career or to guide the education of your children.</p>

<p>The industrial era needed workers prepared to make simple repetitive tasks so they could be easily replaced in a production line. The digital era needs flexible workers able to adapt quickly to changes and able to solve diverse problems.</p>

<p>The jobs of yesterday are dematerializing. It is not a matter of globalization taking jobs to lower wage countries. It's a fact that the jobs of the industrial era are disappearing, same as the agricultural jobs did, replaced by machines (mechanical or digital kind).</p>

<p>In times of change, tensions arrive. The crisis of the financial sector and the crisis of jobs are partly a  result of the fast pace of change these days.</p>

<p>Now that technology can provide all basic needs to people, what society do we want to give ourselves?</p>

</div>

