<%= render 'layouts/dtitle' %>
<h2>Blog</h2>

<div class="hero-unit">
	<h4>Video Interview</h4>
	<center>
		<iframe width="640" height="360" src="http://www.youtube.com/embed/_VZuIGrKs0c" frameborder="0" allowfullscreen></iframe>
	</center>
</div>	

<div class="hero-unit">
	<h4>Why I wrote a novel about startups</h4>
	<p>I admit it. I read far more non-fiction than fiction. That doesn’t mean I have not read my own doses of Asimov, Crichton or Forsyth. So, why my first book is a novel?</p>
	<p>On one side because it’s more fun. You are the Creator of the world of your story. It is not that you command precisely what happens in the story (I couldn’t), but you do become the instrument through which characters come to life, and action happens.</p>
	<p>Asimov used to say that writing fiction is more difficult than non-fiction. I hate to say I love challenges, and maybe it had an influence on me to take the most difficult path — not the less transited this time though.</p>
	<p>But mainly writing fiction gives you the opportunity to have your characters argue on ideas which don’t have a simple answer. And this story gave the ‘guys’ the chance to talk about startups, about open source, about patent trolls, about new mobile apps ideas and specially about what moves most entrepreneurs: the dream to change the world.</p>
	<p>I couldn’t have talked about all those diverse points, and some more I made about human matters as love and finding yourself, without the excuse of Mike and his journey on Asia.</p>
	<p>For me it was really fun to write. I hope it is as fun to read for you.</p>

<a href="http://disruptionmatters.com/2012/11/03/why-a-novel-on-startups/">Original post — Disruption Matters</a>

</div>
<div class="hero-unit">
	<h4>Why a Digital Renaissance manifesto?</h4>
	<blockquote>Manifestos are a powerful catalyst. By publicly stating your views and intentions, you create a pact for taking action. (Movements from the American Revolution [...] to the Firefox web browser were all launched by manifestos.) If you want to change the world, even in just a small way, creating a personal or business manifesto is a great place to start.<br>
	<small><a href="http://99u.com/articles/7005/5-Manifestos-for-Art-Life-Business">99u.com</a></small>
	</blockquote>


<p>The Internet, computers and mobile have changed the world. Understanding the implications of the digital revolution is important for policy makers, for business and for individuals to make the right choices in life.</p>

<p>We live in a better yet more complex world than ever. Understanding where we go is crucial just to guide your own career or to guide the education of your children.</p>

<p>The industrial era needed workers prepared to make simple repetitive tasks so they could be easily replaced in a production line. The digital era needs flexible workers able to adapt quickly to changes and able to solve diverse problems.</p>

<p>The jobs of yesterday are dematerializing. It is not a matter of globalization taking jobs to lower wage countries. It's a fact that the jobs of the industrial era are disappearing, same as the agricultural jobs did, replaced by machines (mechanical or digital kind).</p>

<p>In times of change, tensions arrive. The crisis of the financial sector and the crisis of jobs are partly a  result of the fast pace of change these days.</p>

<p>Now that technology can provide all basic needs to people, what society do we want to give ourselves?</p>

</div>

