<div class="center hero-unit">
	<h1>Digital Renaissance</h1>
	<h2>A new era for Dreamers</h2>
	<p>We are entering a new era. It promises prosperity and richness of ideas as never before.</p>
	<p>Never before mankind had the means to supply food, clothes and shelter for all. Never before were humans freed from physical labor as now. It is the Abundance economy enabled by Technology.</p>
	<p>Never was as easy to create and spread ideas. Beyond the knowledge worker, make room for the creative worker and for the artistic worker.</p>
	<p>The open source movement wins. It is not just the do-the-right-thing movement. Share and the more people use your idea, the most valuable it gets, both for you and for the world.</p>
	<p>Capitalism with money at the only center and measure of value is doomed. It is profoundly unfair. It is the root cause of the financial crisis and will only get us to social unrest. Welcome to principle-center capitalism.</p>
	<p>Nothing happens unless first a dream. We need more dreamers, more Quixotes, willing to give everything in their fight.</p>
	
	 <%= render 'layouts/quiero' %>

	<small>A new fiction work by JMC will launch on Amazon on 1st December.</small><br>
	<small>Get a free pdf copy here.</small>

	<%= render 'layouts/social' %>
</div>
