<h1>Thank You</h1>
<div class="row">
	<div class="span6 offset3">
	<p>Thank you! Check your email. We've sent you a link to download a free pdf copy of <em>Digital Renaissance.</em></p>
	<p>Enjoy reading! And don't forget to tell your friends!</p>

	<%= render 'layouts/social' %>
  </div>
</div>