<h1>Thank You</h1>
<div class="row">
	<div class="span6 offset3">
	<p>Thank you for sending your quote.</p>
	<br><p><em>Quotes are subject to moderation.</em></p>

	<%= render 'layouts/social' %>
  </div>
</div>