<h1>Thank You</h1>
<div class="row">
	<div class="span6 offset3"
	<p>Thank you! We will send you a free pdf copy of Digital Renaissance.</p>
	<p>Enjoy reading! And don't forget to tell your friends!</p>

	<%= render 'layouts/social' %>
  </div>
</div>