<%= render 'layouts/dtitle' %>
<h2>Thank You</h2>
<div class="row">
	<div class="span6 offset3">
	<p>Thank you for sending your quote.</p>
	<p><em>Quotes are subject to moderation.</em></p>
	<br>
	<%= render 'layouts/social' %>
  </div>
</div>