<!DOCTYPE html>
<html>
	<head>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  	</head>
	<body>
		<p>Dear <%= @reader.name %>,</p>
		<p>For a limited time, you can download a copy of <em>Digital Renaissance</em>, by Jose Miguel Cansado, from this link:</p>
		<p><a href="http://www.digital-renaissance.org/download/?code=70120924">Donwload ebook</a></p>
		<p>Happy reading!</p>
	</body>
</html>
