<div class="quiero">
<!-- Buttom to call to action page to subscribe with Twitter -->

<!-- <p><a class="btn btn-primary btn-large">I want a free copy of the ebook &raquo;</a></p>
-->

<p><%= link_to "I want a free copy of the ebook &raquo;".html_safe, request_copy_path, class: "btn btn-large btn-primary" %></p>

</div>