<div class="quiero">
<!-- Buttom to call to action page to subscribe with Twitter -->


<p><%= link_to "Go to Amazon &raquo;".html_safe, "http://www.amazon.com/dp/B009YJOB6M?tag=ttbiz-20", class: "btn btn-large btn-primary" %></p>

</div>