<div class="social-buttns">


<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://digital-renaissance.org/" data-text="I plan to read this book" data-via="digren" data-count="none" data-hashtags="ebook">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



</div>